<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>flask-bootstrap example</title>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
</head>
<body>


<div class="container">
    <h1>出题系统</h1>

    <form class="form-inline my-2 my-lg-0" role="search" method="get" action="/">
        <div class="input-group">
            <span class="input-group-addon">年级</span>
            <select class="form-control" name="grade" title="请选择"
                    data-live-search="true">
                <option value="">请选择</option>
                {% for item in grade %}
                    <option value="{{ item.key }}" {% if params['grade']==item.key %}
                            selected {% endif %}> {{ item.key }}({{ item.doc_count }})
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group">
            <span class="input-group-addon">类别</span>
            <select class="form-control" name="type" title="请选择"
                    data-live-search="true">
                <option value="">请选择</option>
                {% for item in type %}
                    <option value="{{ item.key }}" {% if params['type']==item.key %}
                            selected {% endif %}> {{ item.key }}({{ item.doc_count }})
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group">
            <span class="input-group-addon">来源</span>
            <select class="form-control" name="source" title="请选择"
                    data-live-search="true">
                <option value="">请选择</option>
                {% for item in source %}
                    <option value="{{ item.key }}" {% if params['source']==item.key %}
                            selected {% endif %}> {{ item.key }}({{ item.doc_count }})
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group">　　
            <label>
                <input type="text" class="form-control" name="keyword" value="{{ params.keyword }}" placeholder="全站检索"/>
            </label>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-secondary">搜索</button>
            </span>
        </div><!-- /input-group -->
    </form>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>序号</th>
                <th>名称</th>
                <th>类别</th>
                <th>文档类型</th>
                <th>年级</th>
                <th>来源</th>
                <th>时间</th>
                <th>下载</th>
                <th>预览</th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ loop.index + (page - 1) * per_page }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.suffix }}</td>
                    <td>{{ item.grade }}</td>
                    <td>{{ item.source }}</td>
                    <td>{{ item.uploadDate }}</td>
                    <td><a href="/download{{ item.filePath }}">下载</a></td>
                    <td>
                        <a href="https://view.officeapps.live.com/op/view.aspx?src={{ domain }}/download{{ item.filePath }}"
                           target="_blank" rel="nofollow">预览</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ pagination.links }}
</div>
</body>
</html>
